In [86]:
import pandas as pd 
import re 

import warnings
warnings.simplefilter(action="ignore")

pd.options.display.max_rows = 66
pd.options.display.max_columns = 10

In [87]:
genre_keys = pd.read_csv('./datasets/key_genre_english.csv')

In [88]:
english_keys = pd.read_csv('./datasets/key_english.csv')

In [89]:
key_abbrev = pd.read_csv('./datasets/key_abbreviations_english.csv')

In [90]:
version_keys = pd.read_csv('./datasets/bible_version_key.csv')

In [91]:
kjv = pd.read_csv('./datasets/t_kjv.csv')  # King James Version

In [92]:
asv = pd.read_csv('./datasets/t_asv.csv')  # American Standard Version

In [125]:
bbe = pd.read_csv('./datasets/t_bbe.csv')  # Bible in Basic English

In [127]:
wbt = pd.read_csv('./datasets/t_wbt.csv')  # Webster's Bible

In [128]:
web = pd.read_csv('./datasets/t_web.csv')  # World English Bible

In [129]:
ylt = pd.read_csv('./datasets/t_ylt.csv')  # Young's literal Translation

In [99]:
genre_keys

   g            n
0  1          Law
1  2      History
2  3       Wisdom
3  4     Prophets
4  5      Gospels
5  6         Acts
6  7     Epistles
7  8  Apocalyptic

In [136]:
# creating a new kjv with only id and book columns 
kjv2 = kjv.drop(columns=['id','v','c'])

In [104]:
kjv2.shape

(31103, 2)

In [105]:
kjv2.head()

   b                                                  t
0  1  In the beginning God created the heaven and th...
1  1  And the earth was without form, and void; and ...
2  1  And God said, Let there be light: and there wa...
3  1  And God saw the light, that it was good: and G...
4  1  And God called the light Day, and the darkness...

In [106]:
# adding the feature engineered column of book and GENRE pair 
# using dictionary

In [107]:
kjv2.head()

   b                                                  t
0  1  In the beginning God created the heaven and th...
1  1  And the earth was without form, and void; and ...
2  1  And God said, Let there be light: and there wa...
3  1  And God saw the light, that it was good: and G...
4  1  And God called the light Day, and the darkness...

In [108]:
kjv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31103 entries, 0 to 31102
Data columns (total 2 columns):
b    31103 non-null int64
t    31103 non-null object
dtypes: int64(1), object(1)
memory usage: 486.1+ KB

In [110]:
kjv2 = kjv2.replace([6,7,8,9,10,11,12,13,14,15,16,17], 2)
kjv2 = kjv2.replace([18,19,20,21,22], 3)
kjv2 = kjv2.replace([23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39], 4)
kjv2 = kjv2.replace([40,41,42,43], 5)
kjv2 = kjv2.replace([44], 6)
kjv2 = kjv2.replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65], 7)
kjv2 = kjv2.replace([66], 8)

In [111]:
kjv2.head()

   b                                                  t
0  1  In the beginning God created the heaven and th...
1  1  And the earth was without form, and void; and ...
2  1  And God said, Let there be light: and there wa...
3  1  And God saw the light, that it was good: and G...
4  1  And God called the light Day, and the darkness...

In [112]:
kjv2['book'] = kjv['b']

In [113]:
kjv.head()

        id  b  c  v                                                  t
0  1001001  1  1  1  In the beginning God created the heaven and th...
1  1001002  1  1  2  And the earth was without form, and void; and ...
2  1001003  1  1  3  And God said, Let there be light: and there wa...
3  1001004  1  1  4  And God saw the light, that it was good: and G...
4  1001005  1  1  5  And God called the light Day, and the darkness...

In [114]:
kjv2.tail()

       b                                                  t  book
31098  8  And the Spirit and the bride say, Come. And le...    66
31099  8  For I testify unto every man that heareth the ...    66
31100  8  And if any man shall take away from the words ...    66
31101  8  He which testifieth these things saith, Surely...    66
31102  8  The grace of our Lord Jesus Christ be with you...    66

In [115]:
kjv2.rename(columns={'b': 'genre','t': 'text'}, inplace=True)

In [116]:
# kjv2.head(10_000)

In [117]:
# feature engineer a new column to kjv 

# kjv['b'] = kjv['b'].map(lambda val: genre_dict)

In [118]:
kjv.head()

        id  b  c  v                                                  t
0  1001001  1  1  1  In the beginning God created the heaven and th...
1  1001002  1  1  2  And the earth was without form, and void; and ...
2  1001003  1  1  3  And God said, Let there be light: and there wa...
3  1001004  1  1  4  And God saw the light, that it was good: and G...
4  1001005  1  1  5  And God called the light Day, and the darkness...

In [119]:
kjv2.tail()

       genre                                               text  book
31098      8  And the Spirit and the bride say, Come. And le...    66
31099      8  For I testify unto every man that heareth the ...    66
31100      8  And if any man shall take away from the words ...    66
31101      8  He which testifieth these things saith, Surely...    66
31102      8  The grace of our Lord Jesus Christ be with you...    66

In [120]:
kjv2.drop(columns='book', inplace=True)

In [121]:
kjv2.shape

(31103, 2)

In [123]:
# kjv2.to_csv('./my_datasets/kjv_genre_text.csv', index = False)

In [144]:
# save book and text columns for each bible version 


asv2 = asv[['b', 't']]
bbe2 = bbe[['b', 't']]
wbt2 = wbt[['b', 't']]
web2 = web[['b', 't']]
ylt2 = ylt[['b', 't']]

In [150]:
# replace the book numbers with the genre numbers 

# asv 
asv2 = asv2.replace([6,7,8,9,10,11,12,13,14,15,16,17], 2)
asv2 = asv2.replace([18,19,20,21,22], 3)
asv2 = asv2.replace([23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39], 4)
asv2 = asv2.replace([40,41,42,43], 5)
asv2 = asv2.replace([44], 6)
asv2 = asv2.replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65], 7)
asv2 = asv2.replace([66], 8)


# bbe 
bbe2 = bbe2.replace([6,7,8,9,10,11,12,13,14,15,16,17], 2)
bbe2 = bbe2.replace([18,19,20,21,22], 3)
bbe2 = bbe2.replace([23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39], 4)
bbe2 = bbe2.replace([40,41,42,43], 5)
bbe2 = bbe2.replace([44], 6)
bbe2 = bbe2.replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65], 7)
bbe2 = bbe2.replace([66], 8)

# wbt 
wbt2 = wbt2.replace([6,7,8,9,10,11,12,13,14,15,16,17], 2)
wbt2 = wbt2.replace([18,19,20,21,22], 3)
wbt2 = wbt2.replace([23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39], 4)
wbt2 = wbt2.replace([40,41,42,43], 5)
wbt2 = wbt2.replace([44], 6)
wbt2 = wbt2.replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65], 7)
wbt2 = wbt2.replace([66], 8)

# web
web2 = web2.replace([6,7,8,9,10,11,12,13,14,15,16,17], 2)
web2 = web2.replace([18,19,20,21,22], 3)
web2 = web2.replace([23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39], 4)
web2 = web2.replace([40,41,42,43], 5)
web2 = web2.replace([44], 6)
web2 = web2.replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65], 7)
web2 = web2.replace([66], 8)


# ylt 
ylt2 = ylt2.replace([6,7,8,9,10,11,12,13,14,15,16,17], 2)
ylt2 = ylt2.replace([18,19,20,21,22], 3)
ylt2 = ylt2.replace([23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39], 4)
ylt2 = ylt2.replace([40,41,42,43], 5)
ylt2 = ylt2.replace([44], 6)
ylt2 = ylt2.replace([45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65], 7)
ylt2 = ylt2.replace([66], 8)

In [151]:
# check the head 

print("ASV========= \n =========ASV")
print(asv2.head())
print("BBE========= \n =========BBE")
print(bbe2.head())
print("WBT========= \n =========WBT")
print(wbt2.head())
print("WEB========= \n =========WEB")
print(web2.head())
print("YLT========= \n =========YLT")
print(ylt2.head())

ASV=========
 =========ASV
   b                                                  t
0  1  In the beginning God created the heavens and t...
1  1  And the earth was waste and void; and darkness...
2  1  And God said, Let there be light: and there wa...
3  1  And God saw the light, that it was good: and G...
4  1  And God called the light Day, and the darkness...
BBE=========
 =========BBE
   b                                                  t
0  1    At the first God made the heaven and the earth.
1  1  And the earth was waste and without form; and ...
2  1  And God said, Let there be light: and there wa...
3  1  And God, looking on the light, saw that it was...
4  1  Naming the light, Day, and the dark, Night. An...
WBT=========
 =========WBT
   b                                                  t
0  1  In the beginning God created the heaven and th...
1  1  And the earth was without form, and void; and ...
2  1  And God said, Let there be light: and there wa...
3  1  And God saw the light, that it was good: and G...
4  1  And God called the light Day, and the darkness...
WEB=========
 =========WEB
   b                                                  t
0  1  In the beginning God{After "God," the Hebrew h...
1  1  Now the earth was formless and empty. Darkness...
2  1  God said, "Let there be light," and there was ...
3  1  God saw the light, and saw that it was good. G...
4  1  God called the light Day, and the darkness he ...
YLT=========
 =========YLT
   b                                                  t
0  1  In the beginning of God's preparing the heaven...
1  1  the earth hath existed waste and void, and dar...
2  1       and God saith, `Let light be;' and light is.
3  1  And God seeth the light that `it is' good, and...
4  1  and God calleth to the light `Day,' and to the...

In [157]:
# renaming columns to be more explicit 

asv2.rename(columns={'b': 'genre','t': 'text'}, inplace=True)
bbe2.rename(columns={'b': 'genre','t': 'text'}, inplace=True)
wbt2.rename(columns={'b': 'genre','t': 'text'}, inplace=True)
web2.rename(columns={'b': 'genre','t': 'text'}, inplace=True)
ylt2.rename(columns={'b': 'genre','t': 'text'}, inplace=True)

In [158]:
# check the head 

print("ASV========= \n =========ASV")
print(asv2.head())
print("BBE========= \n =========BBE")
print(bbe2.head())
print("WBT========= \n =========WBT")
print(wbt2.head())
print("WEB========= \n =========WEB")
print(web2.head())
print("YLT========= \n =========YLT")
print(ylt2.head())

ASV=========
 =========ASV
   genre                                               text
0      1  In the beginning God created the heavens and t...
1      1  And the earth was waste and void; and darkness...
2      1  And God said, Let there be light: and there wa...
3      1  And God saw the light, that it was good: and G...
4      1  And God called the light Day, and the darkness...
BBE=========
 =========BBE
   genre                                               text
0      1    At the first God made the heaven and the earth.
1      1  And the earth was waste and without form; and ...
2      1  And God said, Let there be light: and there wa...
3      1  And God, looking on the light, saw that it was...
4      1  Naming the light, Day, and the dark, Night. An...
WBT=========
 =========WBT
   genre                                               text
0      1  In the beginning God created the heaven and th...
1      1  And the earth was without form, and void; and ...
2      1  And God said, Let there be light: and there wa...
3      1  And God saw the light, that it was good: and G...
4      1  And God called the light Day, and the darkness...
WEB=========
 =========WEB
   genre                                               text
0      1  In the beginning God{After "God," the Hebrew h...
1      1  Now the earth was formless and empty. Darkness...
2      1  God said, "Let there be light," and there was ...
3      1  God saw the light, and saw that it was good. G...
4      1  God called the light Day, and the darkness he ...
YLT=========
 =========YLT
   genre                                               text
0      1  In the beginning of God's preparing the heaven...
1      1  the earth hath existed waste and void, and dar...
2      1       and God saith, `Let light be;' and light is.
3      1  And God seeth the light that `it is' good, and...
4      1  and God calleth to the light `Day,' and to the...

In [159]:
# Export changed dataframe to csv 

asv2.to_csv('./my_datasets/asv_genre_text.csv', index = False)
bbe2.to_csv('./my_datasets/bbe_genre_text.csv', index = False)
wbt2.to_csv('./my_datasets/wbt_genre_text.csv', index = False)
web2.to_csv('./my_datasets/web_genre_text.csv', index = False)
ylt2.to_csv('./my_datasets/ylt_genre_text.csv', index = False)

In [35]:
# Doc-2-vec on each row (verse)= each row is a vector DOESN'T HAVE A METRIC 

# what is the probability that each row is connected to each genre 

# genre as a target variable 

# stop words and lemmatize 

# TARGET = lables 

# cosign similarity

In [36]:
# split in train () and test

In [37]:
# train the model on the dataset 

# knn, classifier
# logistic reg  classifier 
# random forest classifier 
# adaboost classifier 
# naive beys classifier 

# hyper parameter tuening 

# Misclassification rate, f1 score, misclassification

In [38]:
# then do the same preprocessing thing on the new data, after manually labeling by genre 
# All i need is text and genre 
# features = text 
# target = predicting genre

In [39]:
# testing under supervised 
# subreddit on genres

In [40]:
# making the columns the genre

In [41]:
# then use the classifier performance for the recommender

In [42]:
# presentation, the book chapter ID /verse and seeing the top 5 outputs

In [43]:
# f1 score, sensitivity, sensitivity, misclassification, accuracy